:root {
   --background-color: #1a191d;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background-color: #1a191d;
   }
}

html {
   overflow-x: hidden !important;
}

body {
   color: hsl(0, 0%, 75%);
   font-family: 'Open Sans', sans-serif;
   font-weight: 400;
   background: #1a191d;
   overflow-x: hidden;
}

h1 {
   font-weight: 300;
   font-size: 30px;
   line-height: 40px;
   color: #fff;
   padding-bottom: 30px
}

h2, p {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   color: #969696;
   letter-spacing: .1em;
   display: inline;
   padding-bottom: 20px
}

h3 {
   font-family: Lekton, sans-serif;
   font-size: 2.5rem !important;
   color: #bfbfbf;
   letter-spacing: .1em;
   line-height: 50px !important;
}

p {
   font-size: 14px;
   line-height: 15px
}

h5 {
   font-family: "Lekton", monospace;
   font-style: normal;
}

.clickable {
   cursor: pointer;
}

.padded,
.padded-top {
   padding-top: 60px
}

.padded,
.padded-bottom {
   padding-bottom: 60px
}

.section {
   padding: 0px !important;
}

.highlight {
	color: #ef5350 !important;
}

.bar-fill {
	background: #ef5350;
}

.link {
	color: #ef5350 !important;
}

.link:hover {
	text-decoration: underline;
}